fastapi
uvicorn
pydantic
qdrant-client
langchain
langchain-community
langchain-google-genai
sentence-transformers
pypdf
docx2txt
python-multipart
pydantic-settings
python-dotenv
tiktoken
rank_bm25
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
